<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aw6gq77f1segkm0l</string>
			</array>
		</dict>
	</array>
	<key>DouyinAppID</key>
	<string>aw6gq77f1segkm0l</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>douyinopensdk</string>
		<string>douyinsharesdk</string>
		<string>snssdk1128</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>MiSans-Semibold.ttf</string>
		<string>MiSans-Normal.ttf</string>
	</array>
</dict>
</plist>
